
<div class="container">

    <p-card header="Usuario" styleClass="p-card-shadow">
        <img alt="Card"
            src="https://i.pinimg.com/originals/2a/f5/fe/2af5fe2e3b7691a970f5b7d57aa5b313.png"
            class="img">
        <p>Ingresa a tu Cuenta de Cliente </p>


        <div class="input">

            <span class="p-float-label">
                <input id="float-input-invalid" type="text" pInputText class="ng-valid ng-dirty">
                <label for="float-input-invalid">Usuario</label>
            </span>

        </div>

        <div class="input">

            <span class="p-float-label">
                <input id="float-input-invalid" type="text" pInputText class="ng-valid ng-dirty ">
                <label for="float-input-invalid">Contraseña</label>
            </span>

        </div>



        <div class="buttons">
            <button pButton type="button" label="Ingresar" class="p-button-outlined p-button-success button"></button>
            <button pButton type="button" label="Registrar" class="p-button-outlined button "></button>
        </div>




    </p-card>




</div>