<div class="container">
    <p-card header=" Registro Socio Conductor" styleClass="p-card-shadow">
        <div class="input">
            <span class="p-float-label">
                <input id="float-input-invalid" type="text" pInputText class="ng-valid ng-dirty inputs">
                <label for="float-input-invalid">Nombres</label>
            </span>
        </div>

        <div class="input">

            <span class="p-float-label">
                <input id="float-input-invalid" type="text" pInputText class="ng-valid ng-dirty inputs ">
                <label for="float-input-invalid">Apellidos</label>
            </span>

        </div>


        <div class="input">

            <span class="p-float-label">
                <input id="float-input-invalid" type="text" pInputText class="ng-valid ng-dirty inputs ">
                <label for="float-input-invalid">Usuario</label>
            </span>

        </div>


        <div class="input">

            <span class="p-float-label">
                <input id="float-input-invalid" type="text" pInputText class="ng-valid ng-dirty inputs ">
                <label for="float-input-invalid">Tipo Vehiculo</label>
            </span>

        </div>


        <div class="input">

            <span class="p-float-label">
                <input id="float-input-invalid" type="text" pInputText class="ng-valid ng-dirty inputs ">
                <label for="float-input-invalid">Numero de Placa</label>
            </span>

        </div>

        <div class="input">

            <span class="p-float-label">
                <input id="float-input-invalid" type="text" pInputText class="ng-valid ng-dirty inputs ">
                <label for="float-input-invalid">Telefono</label>
            </span>

        </div>










        <div class="input">

            <span class="p-float-label">
                <input id="float-input-invalid" type="text" pInputText class="ng-valid ng-dirty inputs ">
                <label for="float-input-invalid">Contraseña</label>
            </span>

        </div>
        <div class="input">

            <span class="p-float-label">
                <input id="float-input-invalid" type="text" pInputText class="ng-valid ng-dirty inputs ">
                <label for="float-input-invalid">Confirmar Contraseña</label>
            </span>

        </div>  

        <div class="buttons">
            <button pButton type="button" label="Registrar" class="p-button-outlined button "></button>
        </div>

    </p-card>




</div>