<p-card header="header">
    <div class="p-fluid">
        <form [formGroup]="formDriver" (ngSubmit)="onSubmit()">
            <div class="p-field">
                <label for="placa"> Placa :</label>
                <input pInputText type="text" id="placa" formControlName="placa">
            </div>
            <div
                ngif="formDriver.controls['placa'].invalid &&(formDriver.controls['placa'].touched || formDriver.controls['placa'].dirty)">
                <small ngif="formDriver.controls['placa'].errors?required" class="p-error">
                    campo requerido

                </small>
                <small ngIf="placaField.errors?.required" class="p-error">
                    el maximo de caracteres fue alcansado
                </small>
            </div>
            <br>



            <div class="p-field">
                <label for="name"> name :</label>
                <input pInputText type="text" id="name" formControlName="name">
            </div>

            <div
                ngif="formDriver.controls['name'].invalid &&(formDriver.controls['name'].touched || formDriver.controls['name'].dirty)">
                <small ngif="formDriver.controls['name'].errors?required" class="p-error">
                    campo requerido

                </small>
                <small ngIf="nameField.errors?.required" class="p-error">
                    el maximo de caracteres fue alcansado
                </small>
            </div>






            <br>
            <div class="p-field">
                <label for="lastname"> lastname :</label>
                <input pInputText type="text" id="lastname" formControlName="lastname">
            </div>

            <div
                ngif="formDriver.controls['lastname'].invalid &&(formDriver.controls['lastname'].touched || formDriver.controls['lastname'].dirty)">
                <small ngif="formDriver.controls['lastname'].errors?required" class="p-error">
                    campo requerido

                </small>
                <small ngIf="lastnameField.errors?.required" class="p-error">
                    el maximo de caracteres fue alcansado
                </small>
            </div>






            <br>
            <div class="p-field">
                <label for="birthay"> birthay :</label>
                <input pInputText type="text" id="birthay" formControlName="birthay">

            </div>
            <div
                ngif="formDriver.controls['birthay'].invalid &&(formDriver.controls['birthay'].touched || formDriver.controls['birthay'].dirty)">
                <small ngif="formDriver.controls['birthay'].errors?required" class="p-error">
                    campo requerido

                </small>
                <small ngIf="birthayField.errors?.required" class="p-error">
                    el maximo de caracteres fue alcansado
                </small>
            </div>










            <br>
            <div class="p-field">
                <label for="phone"> phone :</label>
                <input pInputText type="text" id="phone" formControlName="phone">
            </div>
            <div
                ngif="formDriver.controls['phone'].invalid &&(formDriver.controls['phone'].touched || formDriver.controls['phone'].dirty)">
                <small ngif="formDriver.controls['phone'].errors?required" class="p-error">
                    campo requerido

                </small>
                <small ngIf="phoneField.errors?.required" class="p-error">
                    el maximo de caracteres fue alcansado
                </small>
            </div>






            <br>
            <div class="p-field">
                <label for="vehicle"> vehicle :</label>
                <input pInputText type="text" id="vehicle" formControlName="vehicle">

            </div>
            <div
                ngif="formDriver.controls['vehicle'].invalid &&(formDriver.controls['vehicle'].touched || formDriver.controls['vehicle'].dirty)">
                <small ngif="formDriver.controls['vehicle'].errors?required" class="p-error">
                    campo requerido

                </small>
                <small ngIf="vehicleField.errors?.required" class="p-error">
                    el maximo de caracteres fue alcansado
                </small>
            </div>



            <br>
            <div class="p-field">
                <label for="email"> email :</label>
                <input pInputText type="text" id="email" formControlName="email">
            </div>

            <div
                ngif="formDriver.controls['email'].invalid &&(formDriver.controls['email'].touched || formDriver.controls['email'].dirty)">
                <small ngif="formDriver.controls['email'].errors?required" class="p-error">
                    campo requerido

                </small>
                <small ngIf="emailField.errors?.required" class="p-error">
                    el maximo de caracteres fue alcansado
                </small>
            </div>






            <br>
            <div class="p-field">
                <label for="password">password :</label>
                <input pInputText type="text" id="password" formControlName="password">
            </div>

            <div
            ngif="formDriver.controls['password'].invalid &&(formDriver.controls['password'].touched || formDriver.controls['password'].dirty)">
            <small ngif="formDriver.controls['password'].errors?required" class="p-error">
                campo requerido

            </small>
            <small ngIf="passwordField.errors?.required" class="p-error">
                el maximo de caracteres fue alcansado
            </small>
        </div>


            <div class="p-field">
                <button pButton type="submit" label="Guardar"></button>

            </div>
        </form>

    </div>
</p-card>


<td></td>
<table>
    <tr>
        <th>
            Name
        </th>


        <th>
            Lasname
        </th>

        <th>
            Birhday
        </th>

        <th>
            phone
        </th>

        <th>
            Placa
        </th>

        <th>
            Vehicle
        </th>

        <th>
            email
        </th>

        <th>
            password
        </th>
    </tr>
    <tr ngfor='let driver of drivers'>
        <td>
            {{driver.name}}
        </td>
        <td>
            {{driver.lastname}}
        </td>
        <td>
            {{driver.birthay}}
        </td>
        <td>
            {{driver.phone}}
        </td>
        <td>
            {{driver.placa}}
        </td>
        <td>
            {{driver.vehicle}}
        </td>
        <td>
            {{driver.email}}
        </td>
        <td>
            {{driver.password}}
        </td>
        <td>
            <button pButton type="button" label="mostrar" (click)="selectDriver(driver)"></button>
            <button pButton type="button" label="Modificar" class="p-button-warning"
                (click)=" updateDriver(driver)"></button>
            <button pButton type="button" label="Eliminar" class="p-button-danger"
                (click)="deleteDriver(driver)"></button>

        </td>
    </tr>
</table>