<header>
    <nav class="navegacion">
        <ul class="menu">
         <li>UberGas</li>
            <li> Drivers
                <ul class="submenu">
                    <li><a routerLink="/driver/login">Login</a></li>
                    <li><a routerLink="/driver/forgot">Forgot</a></li>
                    <li> <a routerLink="/driver/registro">Registro</a></li>
                </ul>
            </li>
            <li>Client
                <ul class="submenu">
                    <li><a routerLink="/client/login">Login</a></li>
                    <li><a routerLink="/client/forgot">Forgot</a></li>
                    <li><a routerLink="/client/registro">Registro</a></li>
                </ul>
            </li>
        </ul>
    </nav>
</header>
<router-outlet></router-outlet>